
{% extends "/templates/base.html.twig" %}

{% block title %}
    New Post
{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css"> 
        body {text-align: center;}
    </style>
{% endblock %}

{% block content %}
    
    <h1>Edit Post</h1>
    
    <form action="/post/{{post.PostId}}" method="POST" >
        <p><input type="text" placeholder="Title" name="title" value="{{post.Title}}"></p>
        <p>
            <select name="category">
            {% for cat in categories %}
                <option value="{{cat.CategoryId}}" {{cat.Selected}}>{{cat.CategoryName}}</option>
            {% endfor %}
            </select>
        </p>
        <p>
            <select name="author">
                {% for a in authors %}
                    <option value="{{a.AuthorId}}" {{a.Selected}}>{{a.DisplayName}}</option>
                {% endfor %}
            </select>
        </p>
        <p><textarea placeholder="Content" name="content" rows="10" cols="50">{{post.Content}}</textarea></p>
        <input type="hidden" id="_METHOD" name="_METHOD" value="PUT" />
        <button type="submit">Save Changes</button>
    </form>
        <br>
    <form action="/post/{{post.PostId}}" method="POST" >
        <input type="hidden" id="_METHOD" name="_METHOD" value="DELETE" />
        <button type ="submit">Delete Post</button>        
    </form>
    
    
{% endblock %}