{% extends "/templates/base.html.twig" %}

{% block title %}
    New Post
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>New Post</h1>
        {% for row in posts %}
            <p><b>PostId:</b>{{row.PostId}}</p>
            <p><b>Title:</b>{{row.Title}}</p>
            <p><b>Category:</b>{{row.CategoryName}}</p>
            <p><b>Content:</b>{{row.Content}}</p>
            <p><b>Author Display Name:</b>{{row.DisplayName}}</p>
            <p><b>Author First Name:</b>{{row.FirstName}}</p>
            <p><b>Author Last Name:</b>{{row.LastName}}</p>
            <p><b>Created at:</b>{{row.Created_at}}</p>
            <p><b>Updated at:</b>{{row.Updated_at}}</p>
            <br>
        {% endfor %} 
{% endblock %}